@media (max-width: 825px) {

    .s-acessibility{
        display: block;
        text-align: center;
        &__utils{
            align-items: center;
            margin-left: 0px;
            justify-content: center;
            width: 100%;
        }
        &__links {
            display: none;
        }
    }

 }